*{margin: 0; padding: 0;font-family: 'Old Standard TT', serif;}

:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
  }
  body {
    background-color: var(--primColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
  }
  details {
    margin: 40px;
  }
  summary {
    writing-mode: vertical-lr;
    text-align: center;
    padding: 12px 10px;
    width: 23px;
    height: 17px;
    background-color: var(--primColor);
    border: 2px solid var(--secoColor);
    border-radius: var(--cornerRad);
    color: var(--secoColor);
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
    position: static;
    top: 0;
    left: 0;
  }
  summary::before {
    content: "";
  }
  summary::after {
    content: "III";
    letter-spacing: -1px;
  }
  summary:hover {
    transform: scale(1.1);
  }
  summary::marker {
    font-size: 0;
  }
  summary::-webkit-details-marker {
    display: none;
  }
  details[open] .menu {
    animation-name: menuAnim;
  }
  details[open] summary::before {
    content: "X";
  }
  details[open] summary::after {
    content: "";
  }
  .menu {
    height: 0;
    width: fit-content;
    border-radius: var(--cornerRad);
    background-color: var(--primColor);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
    padding: 12px 24px;
    margin: 0 16px;
    color: var(--secoColor);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
    padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
    border-bottom: none;
  }
  .menu a:hover {
    filter: brightness(200%);
  }
  details::before {
    content: "← Click This Button";
    color: var(--secoColor);
    position: absolute;
    margin-left: 80px;
    padding: 10px 10px;
    opacity: 0.4;
  }
  details[open]::before {
    animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
    0% {
      height: 0;
    }
    100% {
      height: 112px;
    }
  }
  @keyframes fadeMe {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 0;
    }
  }
  

  .container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 0vh;
    grid-template-columns: 25vw;
    grid-gap: 5px;
     
     
}
body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

h3 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  h3 b {
    font-size: 32px;
    font-weight: 300;
    color: #289df6;
  }
  
.submit-btn{
    background-color: turquoise;
}
.bmi-value{
    background-color: yellow;
    display: grid;
    grid-template-rows: 50% 50%;
}
.status{
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 50% 50%;
    
}
.container > div{
    background: #f7df07;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
    border-radius: 15px;
}

button{
    min-width: 100%;
    min-height: 100%;
    border: none;
    outline: none;
    font-size: 1.5vw;
    border-radius: 8px;
}

select{
  background: #ffdd99;
  color: black;
  outline: none;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
}

input{
  
  background: #ffdd99;
  text-indent: 0.5em;
  color: black;
  outline: none;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  min-width: 100%;
  min-height: 100%;
  border: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    background: tomato;
    cursor: pointer;
}
button:hover{
    background: #c70039;
    color: white;
}

.bmi-value, .status {
  display: none;
}

footer {
  overflow: hidden;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px; /* Adjust the height as needed */
  background-color: #000000; /* Add your desired background color */
  color:#289df6;
}